<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f1x.mtcdtools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddBindingsActivity" />
        <activity android:name=".activities.RemoveBindingsActivity" />

        <service android:name=".service.MtcdService" />

        <receiver android:name=".BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.EditModePackagesActivity" />
        <activity android:name=".activities.CreateNewActionActivity" />
        <activity android:name=".activities.CreateNewBindingActivity" />
        <activity android:name=".activities.CreateActionsSequenceActivity" />
        <activity android:name=".activities.CreateKeyActionActivity" />
        <activity android:name=".activities.CreateLaunchActionActivity" />
        <activity android:name=".activities.CreateStartActivityActionActivity" />
        <activity android:name=".activities.CreateBroadcastIntentActionActivity"></activity>
    </application>

</manifest>